.hero {
  width: 1440px;
  height: 800px;
  position: relative;
}
.image {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  height: 800px;
  position:absolute;
  right: 0px;
  left: 0px;
  top: calc(50% - 400px);
}
.frame-1000001784 {
  display: flex;
  flex-direction: row;
  gap: 38px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 220px;
  top: 57px;
}
.frame-2 {
  display: flex;
  flex-direction: column;
  gap: 467px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 89.44px;
  position: relative;
}
.ellipse-1 {
  background: #d9d9d9;
  border-radius: 50%;
  flex-shrink: 0;
  width: 84px;
  height: 84px;
  position: relative;
}
. {
  color: #8c8c8c;
  text-align: center;
  font: 700 14px/87px "Montserrat", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 774px;
  height: 194px;
  position: relative;
}
.it {
  color: #ffffff;
  text-align: center;
  font: var(--mainheaderdesktop, 700 80px/87px "Montserrat", sans-serif);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-1 {
  display: flex;
  flex-direction: column;
  gap: 472px;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  width: 79.85px;
  position: relative;
}
.class2 {
  color: #8c8c8c;
  text-align: center;
  font: 700 14px/87px "Montserrat", sans-serif;
  position: relative;
}
.ellipse-2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.text {
    width: 1440px;
    height: 618px;
    position: relative;
  }
  .image {
    height: 618px;
    position: absolute;
    right: 0px;
    left: 0px;
    top: calc(50% - 309px);
  }
  .frame-4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    width: 756px;
    height: 340px;
    position: absolute;
    left: 160px;
    top: 139px;
  }
  . {
    color: var(--headertextcolor, #060606);
    text-align: left;
    font: var(--headerboldtitles, 900 48px/56px "Montserrat", sans-serif);
    position: relative;
    align-self: stretch;
  }
  .frame-3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 264px;
    position: relative;
  }
  .paragrapg {
    color: var(--contenttextcolor, #474747);
    text-align: left;
    font: var(--contnentthin, 500 20px/28px "Montserrat", sans-serif);
    position: relative;
    align-self: stretch;
  }